/*Header/menu styling*/
html {
  background-color: #26262b;
}
header {
  height: 12vh;
  line-height: 3.5vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #1fc5b1;
  text-align: center;
  border-bottom: 3px solid #1fc5b1;
}

header h1 {
  font-size: 55px;
  line-height: 3vh;
}

/***LOGIN PAGE***/
.LoginPageContainer{
  position: fixed;
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.Login {
  text-align: center;
  background-color: #1fc5b1;
  height: 50vh;
  width: 50vw;
}

.Login h1 {
  position: absolute;
  width: 50vw;
}

.LoginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  line-height: 5vh;
}

.LoginLink {
  position: relative;
  bottom: 6vh;
}

/***REGISTER LINK AND THEN PAGE**/
.RegisterLink {
  position: relative;
  bottom: 6vh;
}


.RegisterPageContainer{
  position: fixed;
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}


.Register {
  text-align: center;
  background-color: #1fc5b1;
  height: 50vh;
  width: 50vw;
}

.Register h1 {
  position: absolute;
  width: 50vw;
}

.RegisterForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  line-height: 5vh;
}

/*******Home page setup*********/
/*Login area styling*/
.loginArea {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 3.3vw;
  height: 12vh;
  display: flex;
  align-items: center;
}

.loginArea div div span {
  font-size: 27.5px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  line-height: 12vh;
  margin-right: 10vw;
  font-size: 27px;
}

.DropdownContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 14vw;
  text-align: left;
  margin-top: 9vh;
  margin-right: 10vw;
  color: #1fc5b1;
  font-size: 15px; 
  background-color: white;
}

.DropdownContainer ul {
  list-style-type: none;
  line-height: 4.5vh;
  padding-left: 0vw;
}

.DropdownContainer ul li:hover {
  background-color: grey;
}

.startPlannerMargin {
  margin-top: 15vh;
}

.startPlanner {
  display: flex;
  justify-content: center;
}

/*ProjectPlannerSetup styling*/
.plannerSetup  {
  text-align: center;
  margin-top: 15vh;
  color: #3495ec; 
}
.plannerSetup form {
  line-height: 3.5vh;
  margin: 0 auto;
  width: 27.5vw;
  border: 1.5px white solid;
}

/*PlannerOverview styling*/

.plannerOverview0 {
  background-color: slategray;
  width: 60vw;
  margin: 15vh auto 0;
  text-align: center;

}
.plannerOverview {
  background-color: slategray;
  width: 60vw;
  margin: 0 auto;
  text-align: center;

}

/*Planner styling*/
.PlannerContainer {
  /*to make sure header is fixed and that planner follows header*/
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100%;
  margin-top: 12.5vh;
}
#TaskInputBtn {
  display: flex;
  justify-content: center; 
}

.newWeekBtn {
  margin: 20px;
}


/*Week styling*/
.WeekContainer {
  margin: 25px;
  display: flex;
  justify-content: space-around;
}

/*Day styling*/
.DayContainer {
  border-style: double;
  /*need to make this height/width dynamic*/
  height: 32vh;
  width: 12vw;
}

.DayContainer h3 {
  text-align: center;
}

/*Task styling*/
.TaskContainer {
  background-color: white;
  width: 90px;
  height: 30px;
  padding: 7px;
  border-left: 6px solid #3495ec;
  position: absolute;
  cursor: move;
}

